@charset "UTF-8";
/* Size things using border box */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    text-align: center;
}

div#builder {
    display: flex;
}

section {
    margin: 0 auto;
}

section#buttons {
    display: flex;
    flex-direction: column;
}
section#buttons button {
    margin: 20px auto;
}

section#choices li {
    margin: 20px auto;
}

#story {
    width: 300px;
    font-size: 3rem;
}

/* Colored classes for some decoration (I'd do more but I'm running out of time) */
.purp {
    background-color: plum;
}
.blue {
    background-color: lightblue;
}
.green {
    background-color: palegreen;
}
.orange {
    background-color: orange;
}
.pink {
    background-color: hotpink;
}